name: Deploy Laravel App

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy on server
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: Run deployment commands on server
        run: |
          ssh -o StrictHostKeyChecking=no github_actions@${{ secrets.SERVER_IP }} << 'EOF'
            # Define o repositório como seguro para evitar erros de "dubious ownership"
            git config --global --add safe.directory ${{ secrets.PATH_PROJECT }}

            # Acessa o diretório do projeto
            cd ${{ secrets.PATH_PROJECT }}

            # Atualiza o código
            git pull origin master

            # Instala dependências PHP
            composer install --no-interaction --prefer-dist --optimize-autoloader

            # Executa as migrations forçadas
            php artisan migrate --force

            # Instala e compila os assets do front-end
            npm install
            npm run build
          EOF
