name: Deploy to Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up PHP 8.3.6
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3.6'  # Versão do PHP que você mencionou

      - name: Install Composer dependencies
        run: |
          curl -sS https://getcomposer.org/installer | php
          php composer.phar install --no-dev --prefer-dist

      - name: Set up Node.js v22.14.0
        uses: actions/setup-node@v3
        with:
          node-version: '22.14.0'  # Versão do Node.js que você mencionou

      - name: Install Node.js dependencies
        run: npm install

      - name: Run migrations
        run: php artisan migrate --force

      - name: Build assets
        run: npm run build

      - name: Deploy to Server
        run: |
          ssh -i ~/.ssh/github_action_rsa deploy_github@${{ secrets.SERVER_IP }} "cd /caminho/para/seu/projeto && git pull && php artisan migrate --force && npm run build"
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SERVER_IP: ${{ secrets.SERVER_IP }}
