name: Deploy to Production

on:
  push:
    branches:
      - master 

jobs:
  deploy:
    runs-on: ubuntu-latest
    # environment: production
    env:
      APP_DIR: /var/www/workspaces 


    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}      
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }} 
          port: ${{ secrets.SSH_PORT }}                              
          script: |
            cd ${{ env.APP_DIR }} # APP_DIR can remain in env if your script needs it

            # Ensure the deploy.sh script is executable on the server
            # (You might want to commit it with +x or chmod it during setup)
            chmod +x deploy.sh

            # Run the deployment script
            ./deploy.sh

            # Important: After deployment, restart your PHP-FPM service
            # or web server if necessary, to pick up new code and configs.
            sudo service php8.2-fpm reload # Adjust service name for your PHP version
            # sudo systemctl restart nginx # Or apache